{% extends 'base.html' %}

{% block content %} 
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="card-header title is-1">{{name}}</h1>
            </div>
            <div class="card-content">
                <ul>
                    <li>
                        Status: {{status}}
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}