{% extends 'base.html' %} 

{% block content %} 
    <div class="container">
        <br><br><br>
        <form action="/redirection/id" method='GET'>
            <small class="is-small">Your ROBLOX username:</small>
            <hr>
            <input class="input is-rounded" type="text" placeholder="ID" id='id-input'/>
        </form>
    </div>
    <hr>
    <div class="container">
        <form action="/redirection/name">
        <small class="is-small">Or search by username:</small>
        <hr>
        <input type="text" class="input is-rounded" id="name-input" placeholder="Username">
    </form>
    </div>
{% endblock %}